
<ion-content [fullscreen]="true">
 <div class="header">
  <p class="title"> </p>
    Ingresa tu email
    <p class="subTitle">para que recibas el link y cambiar la contraseña</p>
 </div>
 <div>
  <ion-input class="input" placeholder="Escribe tu email"> </ion-input>
  <ion-icon name="person-outline"></ion-icon>
</div>

  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px">
    <ion-fab-button [routerLink]="['/home']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
