
<ion-content [fullscreen]="true">
  <div class="header">
    <p class="title">Qué tal</p>
    <p class="subTitle">Regístrate para crear tu cuenta</p>
  </div>

  <form [formGroup]="regForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="fullname" placeholder="nombre" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
        <div *ngIf="this.regForm.controls['fullname'].invalid && (regForm.controls['fullname'].dirty || this.regForm.controls['fullname'].touched)">
          <ion-text  *ngIf="errorControl.fullname.errors?.required"
          >
            El nombre  es obligatorio
          </ion-text>
        </div>

      <ion-item>
        <ion-input formControlName="email" placeholder="email" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
        <div *ngIf="this.regForm.controls['email'].invalid && (regForm.controls['email'].dirty || this.regForm.controls['email'].touched)">
        <ion-text *ngIf="errorControl.email.errors?.required" >
          El email es obligatorio
        </ion-text >
        <ion-text  *ngIf="errorControl.email.errors?.pattern">
          El email debe ser valido
        </ion-text>
       </div>


      <ion-item>
        <ion-input formControlName="password" placeholder="contraseña" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

      <div *ngIf="this.regForm.controls['password'].invalid && (regForm.controls['password'].dirty || this.regForm.controls['password'].touched)">
        <ion-text *ngIf="errorControl.password.errors?.required" >
          La contraseña es requerida
        </ion-text >
        <ion-text *ngIf="errorControl.password.errors?.pattern">
          El email debe tener letras, por lo menos una letra mayúscula, un número, signos y debe contener 8 dígitos
        </ion-text>
       </div>


      <div class="signupLink">
        <p > Listo para registrate?<a  style="color: #ffc33f;" [routerLink]="['/login']"> Entra ahora</a></p>
      </div>

      <ion-fab vertical="bottom" horizontal="end" style="margin-bottom:30px">
        <ion-fab-button [routerLink]="['/home']">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </div>
</form>

</ion-content>
